@import "../../layouts/variables";

.nav {
    width: 100%;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px grey;
    .leftNav {
        width: 150px;
        height: 50px;
        background-color: $main-gray;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            display: inline-block;
            img {
                width: 120px;
                @media only screen and (max-width: 768px) {
                    width: 110px;
                }          
            }
        }
    }

    .rightNav {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        img {
            width: 25px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

