@import "../../layouts/variables";

.login {
    width: 100%;
    height: calc(100vh - 60px);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
        margin-bottom: 50px;
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 50px;
        }
        .googleLoginButton {
            @include googleDisableButton;
            cursor: pointer;
        }
        .notExistComment {
            color: red;
            margin-bottom: 15px;
        }

    }
}