.login {
    width: 100%;
    height: calc(100vh - 60px);
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .container {
        margin-bottom: 50px;
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 50px;
        }
        .googleLoginButton {
            cursor: pointer;
            height: 35px;
            display: flex;
            justify-self: center;
            align-items: center;
            margin-bottom: 15px;
            border: 1px solid #00c18c;
            font-weight: bold;
            img {
                height: calc(100% - 10px);
                margin: 10px;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% - 20px);
                text-align: center;
                background-color: #00c18c;
                height: 100%;
                color: white;
                font-size: 14px;
            }
        }
        .notExistComment {
            color: red;
            margin-bottom: 15px;
        }

    }
}