@import "../../layouts/variables";

.features {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .partition {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 3rem);
        min-height: 500px;
        padding: 1.5rem;
        &:first-child {
            height: calc(100vh - 52px);
            background-image: url("../../assets/images/main_bg-01.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.85;
        }
        &:nth-child(5) {
            min-height: 200px;
        }
        &:last-child {
            min-height: 350px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        
            h1 {
                font-size: 44px;
                margin-bottom: 50px;
                margin-top: 74px;
                font-weight: bold;
                @media only screen and (max-width: 768px) {
                    font-size: 30px;
                }  
            }
            h2 {
                font-size: 35px;
                color: white;
                font-weight: bold;
                margin-bottom: 15px;
                @media only screen and (max-width: 768px) {
                    font-size: 25px;
                }  
            }
            h4 {
                font-size: 20px;
                color: white;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 30px;
                @media only screen and (max-width: 768px) {
                    font-size: 16px;
                }  
            }
            h5 {
                font-size: 17px;
                color: white;
                text-align: center;
                @media only screen and (max-width: 768px) {
                    font-size: 15px;
                }  
            }
            
            @include containerSize;

            .subLink {
                font-size: 20px;
                border: 3px solid white;
                border-radius: 30px;
                padding: .7rem 20px;
                border: 1px solid white;
                @media only screen and (max-width: 768px) {
                    margin: 15px auto;
                    font-size: 15px;
                }            
            }

            .twoRow {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                }
            }
            
            .threeRow {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
                @media only screen and (max-width: 768px) {
                    flex-direction: column;
                }
            }
            
            .colDiv {
                display: flex;
                align-items: center;
                flex-direction: column;
                h6 {
                    font-size: 20px;
                    color: white;
                    margin-bottom: 20px;
                    font-weight: bold;
                }
                p {
                    text-align: center;
                    font-size: 15px;
                    line-height: 1.5;
                    margin-bottom: 15px;
                }
                .imgDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 240px;
                    height: 180px;
                    border: 1px solid $light-gray;
                    padding: 30px;
                    margin: 30px;
                    & > img {
                        width: 100%;
                    }
                }
            }

        }
    }
}

.gradientHrLine {
    @include gradientHrLine;
}