@import "../../layouts/variables";

.index {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.partition {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
        height: calc(100vh - 4px);
        background-image: url("../../assets/images/main_bg-01.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.85;
        .container {
            align-items: flex-start;
        }
    }
    &:nth-child(3){
        padding: 50px 0px;
    }
    &:nth-child(5){
        .container {
            flex-direction: column;
        }
    }
}
.container {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include containerSize;

    @media (max-width: 768px){
        flex-direction: column;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
    }
    h3 {
        font-size: 25px;
        font-weight: bold;
        margin: 30px 0;
        color: white;
        @media only screen and (max-width: 768px) {
            font-size: 22px;
          }                
    }    
    img {
        width: 300px;
        margin-right: 30px;
    }
    .logoImage {
        width: 50px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
        li {
            margin-bottom: 15px;
            list-style-type: disc;
        } 
        @media only screen and (max-width: 768px) {
          font-size: 14px;
        }   
    }
}
.colPartition {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
        display: flex;
        align-items: center;
    }
    @media (min-width: 768px){
        align-items: flex-start;
    }
    .title {
        margin: 15px 0px;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    // .sourceComment {
    //     font-size: 15px;
    //     font-family: Monaco;
    //     color: $main-gray;
    //     margin-bottom: 50px;    
    // }
    .greenRoundTag {
        font-size: 18px;
        text-decoration: none;
        color: $main-green;
        border: 1px solid $main-green;
        cursor: pointer;
        border-radius: 30px;
        padding: 5px 15px;
    }
    .carouselWrapper{
        width: 100%;
        
        .carousel {
            height: 390px;
            width: 600px;
            box-shadow: 0 0 3px grey;
        }
        @media only screen and (max-width: 768px) {
            display: none;
          }      
    }
}
.threeRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    h4 {
      font-size: 25px;
      font-weight: bold;
      margin: 15px 0;
      color: white;
    }
    img {
      width: 150px;
      margin-bottom: 30px;
    }
    p {
      font-size: 15px;
      text-align: center;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }  
    }  
}

.gradientHrLine {
    @include gradientHrLine;
}