{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HTML Email Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  </head>

  <body>
    <!-- OUTERMOST CONTAINER TABLE -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyTable">
      <tr>
        <td>

          <!-- 600px - 800px CONTENTS CONTAINER TABLE -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
            <tr>
              <td align="center">
                <img src="https://panomixapp.s3.ap-northeast-2.amazonaws.com/static/images/panomix_logo.png" alt="panomix logo" width="300px" style="margin-bottom: 0px;">
              </td>
            </tr>
            <tr>
              <td align="center" height="100px">
                <h3>Sign Up Request</h3>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Hi {{ admin_user }},</h4>
              </td>  
            </tr>
            <tr>
              <td height="20px">
                <h4><strong style="color:#00c18c">{{ user_email }}</strong> has requested to join {{ workplace_name}} workplace.</h4>
              </td>  
            </tr>
            <tr>
              <td>
                <h4>Click the button below to confirm.</h4>
              </td>  
            </tr>
            <tr>
              <td align="center" height="100px">
                <a class="acceptButton" href="http://{{ domain }}/api/users/activate/{{ uid }}/{{ workplace }}/{{ token }}"
                style="background-color: #00c18c; padding: 10px 30px; border-radius: 30px;text-decoration: none; color: white; margin-top: 30px;">Confirm</a>
              </td>  
            </tr>
        </table>

        </td>
      </tr>
    </table>
</body>
</html>