.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px grey;
    padding: 15px 0;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 576px){
            max-width: 400px;
        }
        @media (min-width: 576px){
            max-width: 540px;
        }
        @media (min-width: 768px){
            max-width: 720px;
        }
        @media (min-width: 992px){
            max-width: 960px;
        }
        @media (min-width: 1200px){
            max-width: 1140px;
        }

        .leftNav {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                display: inline-block;
                img {
                    width: 120px;
                    @media only screen and (max-width: 768px) {
                        width: 110px;
                    }          
                }
            }
        }

        .rightNav {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.links {
    .tag {
        text-decoration: none;
        color: black;
        margin-left: 20px;
        cursor: pointer;
        
        &:nth-child(2) {
            cursor: default;
            color: rgba(0, 0, 0, 0.4);
        }
    }
    .greenFilledTag {
        text-decoration: none;
        cursor: pointer;
        color: white;
        border: 1px solid #00c18c;
        background-color: #00c18c;
        border-radius: 30px;
        padding: 5px 15px;
    }
    .greenRoundTag {
        text-decoration: none;
        color: #00c18c;
        margin-left: 20px;
        border: 1px solid #00c18c;
        cursor: pointer;
        border-radius: 30px;
        padding: 5px 15px;
    }
    @media (max-width: 768px){
        display: none;
    }   
}

.toggleNav {
    @media (min-width: 768px){
        display: none;
    }
}

.toggledLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    .tag {
        margin: 10px 0px;
        text-decoration: none;
        color: black;
        cursor: pointer;
        
        &:nth-child(2) {
            cursor: default;
            color: rgba(0, 0, 0, 0.4);
        }
    }
    .greenFilledTag {
        margin: 10px 0px;
        text-decoration: none;
        cursor: pointer;
        color: white;
        border: 1px solid #00c18c;
        background-color: #00c18c;
        border-radius: 30px;
        padding: 5px 15px;
    }
    .greenRoundTag {
        margin: 10px 0px;
        text-decoration: none;
        color: #00c18c;
        border: 1px solid #00c18c;
        cursor: pointer;
        border-radius: 30px;
        padding: 5px 15px;
    }
}