@import "../../layouts/variables";

.settings {
    display: flex;
    min-height: 100vh;
    .leftDiv {
        width: 150px;
        background-color: $main-gray;
    }
    .rightDiv {
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            margin-top: 50px;
            @include containerSize;
            .userRow {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 28px;
                border: 1px solid $light-gray;   
                .userCol {
                    width: 30%;
                    &:last-child {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .redFilledButton {
                        @include redRectangleButton;
                    }       
                }
            }
        }
    }

}